* {
    margin: 0;
    text-decoration: none;
    font-size: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 40px;
}

.image {
    width: 30%;
}

img {
    width: 100%;
    border-radius: 50%;
}

ol {
    margin-left: 20px;
}

ol li {
    list-style-type: "\1F44D";
}

.steps-container {
    margin-bottom: 40px;
}

table {
    width: 80%;
    margin: auto;
}

table,
td {
    border: 1px solid #333;
    font-size: 40px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
/*dsldhehd*/

footer {
    margin: 40px;
}

form {
    width: 80%;
    margin: auto;
    text-align: center;
}

.form-example {
    margin: 10px;
}

.button {
    background-color: red;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}