* {
    margin: 0;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 40px;
}

.image {
    width: 30%;
}

img {
    width: 100%;
    border-radius: 50%;
}

ol {
    margin-left: 20px;
}

ol li {
    list-style-type: "\1F44D";
}

